<head>
  <meta charset="utf-8"/>
  <title>MY APP!!!!!!</title>

   <style>

   </style>
</head>

<body style="background-color:black;">

<br/><br/>
  <h1 style="font-size:300%; text-align:center; color: white;">DRAW !</h1>
<div style ="text-align: center;">
<img src="https://steamusercontent-a.akamaihd.net/ugc/450736996699186451/7109DE37875E098D7A973524002B40DB004C15B9/" alt="HTML Letters" width="380" height="380">
</div>
  <div style ="text-align: center;">
  <a href="/game"><input style="width: 35%;" type="submit" value="PRESS HERE  FOR ANOTHER GO !"></a>
  </div>
  </body>
