<head>
  <meta charset="utf-8"/>
  <title>MY APP!!!!!!</title>

   <style>
     body {
       background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT13aXG4oRaMIpWRn0-7t9AaY0zfV_zjboFWOihO7KGECM4RyI3wQ");
     }
   </style>
</head>

<body>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
  <h1 style="font-size:500%; text-align:center; color: blue;">DRAW !</h1>

  <div style ="text-align: center;">
  <a href="/game"><input style="width: 35%;" type="submit" value="PRESS HERE  FOR ANOTHER GO !"></a>
  </div>
  </body>
